:root {
  --primary-color: #93CB52;
  --secondary-color: #bababa;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}

/* Category colors */
.category {
  --sport-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}

/* General styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--secondary-color);
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

a {
  color: var(--light-color);
  text-decoration: none;
}

p {
  margin: .5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .55rem;
  line-height: 1.3;
  font-family: 'Staatliches', cursive;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

/* Utility classes */

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.py-1 {
  padding: 1.5rem 0
}

.py-2 {
  padding: 2rem 0
}

.py-3 {
  padding: 3rem 0
}

.p-1 {
  padding: 1.5rem
}

.p-2 {
  padding: 2rem
}

.p-3 {
  padding: 3rem
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
}

.btn-light {
  background: var(--light-color)
}

.btn-primary {
  background: var(--primary-color)
}

.btn-secondary {
  background: var(--secondary-color)
}

.btn-block {
  display: block;
  text-align: center;
  width: 100%;
  background: var(--dark-color);
  color: var(--light-color) !important;
}

.btn:hover {
  opacity: 0.9;
}

.category {
  display: inline-block;
  color: #fff;
  padding: 0.5rem 0.7rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 50px;
}

.category-sport {
  background: var(--sport-color);
}

.category-ent {
  background: var(--ent-color);
}

.category-tech {
  background: var(--tech-color);
}



.card {
  background: var(--light-color);
  padding: 1rem;
}


.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.bg-primary {
  background: var(--primary-color);
  color: #333;
}

.bg-secondary {
  background: var(--secondary-color);
}

.bg-primary a {
  color: #333;
}

.bg-primary a:hover {
  color: var(--light-color);
}

.bg-dark a:hover {
  color: var(--primary-color);
}

.list li {
  padding: .5rem 0;
  border-bottom: #555 dotted 1px;
}

.list li a:hover {
  color: var(--primary-color) !important;
}

.b-heading {
  font-size: 3rem;
}

/* ----------------NavBar--------------------- */
#main-nav {
  background: #333;
  z-index: 2;
  position: sticky;
  top: 0;
}

#main-nav .container {
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

#main-nav .logo {
  width: 180px;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: .75rem;
  margin: .2rem;
  font-weight: bold;
  border-radius: 5px;
}

#main-nav ul li a.current {
  background: var(--primary-color);
  color: #fff;
}

#main-nav ul li a:hover {
  color: var(--dark-color);
  background: var(--primary-color);
  transition: 0.3s;
}


/* --------------------Main article-------------------- */

#showcase {
  color: #fff;
  padding: 2rem;
  position: relative;
  background: #333;
}

#showcase:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: url(../img/articles/soccer-main-article.jpg) no-repeat center center/cover;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase .showcase-content {
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}

/* ----------------News section---------------- */
#news .articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

#news .articles-container>*:first-child,
#news .articles-container>*:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  grid-column: 1 / span 2;
}

#news .articles-container>*:last-child {
  grid-column: 2 / span 2;
}

/* About page styling */

.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap: 1.5rem;
}

.page-container>*:first-child {
  grid-row: 1/ span 3;
}

/* ----------------Footer--------------------- */

#main-footer {
  background: var(--dark-color);
  color: #fff;
}

#main-footer img {
  width: 150px;
}

#main-footer a {
  color: white;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

#main-footer .footer-container>*:last-child {
  background: #444;
  grid-column: 1/ span 3;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-footer .footer-container>*:nth-child(2) {
  text-align: center;
}

#main-footer .footer-container input[type='email'] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit'] {
  width: 90%;
}

#main-footer .social i {
  color: #f4f4f4;
  margin-right: .5rem;
  transition: color 0.2s ease;
}

#main-footer .social i:hover {
  color: var(--primary-color);
}